@font-face {
	font-family: FFGoodPro;
	font-display: swap;
	src: url("../fonts/FFGoodPro-Light.woff2") format("woff2"), url("../fonts/FFGoodPro-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: FFGoodPro;
	font-display: swap;
	src: url("../fonts/FFGoodPro-LightItalic.woff2") format("woff2"), url("../fonts/FFGoodPro-LightItalic.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: FFGoodPro;
	font-display: swap;
	src: url("../fonts/FFGoodPro-Regular.woff2") format("woff2"), url("../fonts/FFGoodPro-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: FFGoodPro;
	font-display: swap;
	src: url("../fonts/FFGoodPro-News.woff2") format("woff2"), url("../fonts/FFGoodPro-News.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: FFGoodPro;
	font-display: swap;
	src: url("../fonts/FFGoodPro-Medium.woff2") format("woff2"), url("../fonts/FFGoodPro-Medium.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: FFGoodPro;
	font-display: swap;
	src: url("../fonts/FFGoodPro-Bold.woff2") format("woff2"), url("../fonts/FFGoodPro-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
